<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Downtime Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Warehouse Downtime Tracker</h1>

        <p>
            Track machine downtime, operational issues,
            and warehouse performance metrics.
        </p>
    </div>

</body>
</html>